.hidden {
  display: none;
}

#result {
  margin-top: 50px;
}

#background {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

#wrapper {
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: center;
  height: 80%;
}

#clock {
  font-size: 600%;
}

#input-blank {
  width: 400px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#todo-list {
  color: yellow;
}

#quote {
  position: absolute;
  top: -150px;
  color: greenyellow;
  font-size: xx-large;
  font-weight: bold;
}

#input-blank {
  background: linear-gradient(45deg, Violet, Orange);
  font-size: xx-large;
}

#todo-list {
  list-style: none;
}

/* for mobile */
@media screen and (max-width: 768px) {
  #quote {
    position: absolute;
    top: -100px;
    color: greenyellow;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
}
