.hidden {
  display: none;
}

#background {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  position: relative;
}

#all {
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: center;
  width: auto;
}

#clock {
  font-size: 600%;
}

#input-blank {
  width: 400px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#todo-list {
  color: yellow;
}

#quote {
  position: absolute;
  bottom: 380px;
  color: rebeccapurple;
  font-size: xx-large;
  font-weight: bold;
}

#input-blank {
  background: linear-gradient(to top, yellow, lightGreen);
  font-size: xx-large;
}

#todo-list {
  list-style: none;
}
